
.h1{
    width: 2010px;
    height: 120px;
    background-color: rgb(0, 0, 0);
    margin: auto;

}

   
 .nav {
    float: left;
    position: relative;
    right: auto;
 } 

 .aside{
width: 250px;
height: 400px;
float: left;
background-color: sandybrown;
margin: auto;
 }

 .main{
width: 750px;
height: 400px;
float: right;
margin: auto;
background-color: salmon;
 }

 .foot{
background-color: rgb(0, 0, 0);
margin: auto;

 }